html {
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  max-width: 60%;
  margin-bottom: 100px;
}

img {
  width: 80%;
  margin: 20px 10%;
  display: block;
}

h1 {
  margin-top: 100px;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}
